@font-face {
    font-family: 'Cascadia Code';
    src: url("./CascadiaCode.woff2");
}

body { 
    background-color: #050505;
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font-family: "Cascadia Code";
    color: #EBEBEB;
}

hr {
    height: 2px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-family: 'Cascadia Code';
    font-weight: bold;
    border-radius: 10px;
    background-color: #272727;
    color: #EBEBEB;
    border: double 2px #181818;
}

button:hover {
    background-color: #202020;
}

.links {
    margin-top: 15px;
}

.links a {
    color: #fff;
    text-decoration: none;
    font-size: 35px;
}

.links a:hover {
    color: #303030;
}