@font-face {
    font-family: 'Spleen 16x32';
    src: url("./spleen-16x32.woff2");
}

body {
    background-color: #181818;
    color: #eeeeee;
    font-family: 'Spleen 16x32';
}

button {
    font-family: 'Spleen 16x32';
    border-radius: 0px;
}

.socials {
    display: flex;
}

.socials button {
    margin-right: 5px;
}

.entries {
	display: block;
	
}

.list-entry {
	list-style-type: none;
}

a:link { color: #2a61ff; }
a:visited { color: #2a61b2; }

.center {
    display: grid;
    justify-content: center;
}

.code-block {
	padding: 5px;
    background-color: #202020;
	width: fit-content;
	max-width: 100%;
	overflow-x: auto;
	border: solid;
	border-color: #101010;
}

code {
    font-family: 'Spleen 16x32';
    font-size: 18px;
	padding: 2px;
	background-color: #202020;
}

comment {
    color: #707070;
    font-style: italic;
}

string {
    color: #73c936;
}

string-escape {
    color: #516346;
}

type {
    color: #95a99f;
}

func {
    color: #635a46;
    font-weight: bold;
    font-style: italic;
}

number {
    color: #aaaaaa;
}

preproc {
    color: #999999;
}

if {
    color: #8e6a5a;
    font-weight: bold;
}

define {
    color: #635a46;
    font-weight: bold;
}

macro {
    color: #8f8f8f;
    font-weight: bold;
}

keyword {
    color: #ffdd33;
    font-weight: bold;
}
